.toast-success {
  background-color: #61d800 !important;
}
.toast-error {
  background-color: #ec407f !important;
}
.toast-info {
  background-color: #603dcf !important;
}
.toast-warning {
  background-color: #ed4637 !important;
}
